.client-section {
    .container {
        padding-bottom: 50px;

        .text_above_title {
            font-size: 18px;
            font-family: "poppins";
            margin: 0;
            color: #48C7A0;
        }

        .main-title {
            font-size: 35px;
            color: #000000;
            margin-bottom: 50px;
        }

        .wrapper {
            text-align: center;
            margin: 10px;
        }
    }

}